services:
    valkey:
        container_name: valkey
        image: valkey/valkey
        restart: unless-stopped
        command: valkey-server --save 60 1 --loglevel warning
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        ports:
            - ${VALKEY_PORT:-6379}:6379
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - valkey-data:/data

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    valkey-data:
        name: valkey-data
