services:
    redis:
        container_name: redis
        image: redis:alpine
        restart: unless-stopped
        command: redis-server --save 60 1 --loglevel warning --requirepass secret
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        ports:
            - ${REDIS_PORT:-6379}:6379
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - redis-data:/data

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    redis-data:
        name: redis-data
