services:
    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        # ports:
        #     - ${PGADMIN_PORT:-8080}:80
        hostname: "${DOMAIN:-pgadmin.localhost}"
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - pgadmin:/var/lib/pgadmin
        labels:
            # caddy: "${DOMAIN:-pgadmin.localhost}"
            # caddy.reverse_proxy: "{{upstreams http}}"
            traefik.enable: "true"
            traefik.http.services.pgadmin.loadbalancer.server.port: "80"
            traefik.http.routers.pgadmin.rule: "Host(`${DOMAIN:-pgadmin.localhost}`)"
            traefik.http.routers.pgadmin.entrypoints: "http"
            traefik.http.routers.pgadmin.tls: "false"
            traefik.http.routers.pgadmin.service: "pgadmin"
            traefik.http.routers.pgadmin-secure.rule: "Host(`${DOMAIN:-pgadmin.localhost}`)"
            traefik.http.routers.pgadmin-secure.entrypoints: "https"
            traefik.http.routers.pgadmin-secure.tls: "true"
            traefik.http.routers.pgadmin-secure.service: "pgadmin"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    pgadmin:
        name: pgadmin
