services:
    rabbitmq:
        container_name: rabbitmq
        image: rabbitmq:management-alpine
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            RABBITMQ_DEFAULT_USER: "${RABBITMQ_DEFAULT_USER:-root}"
            RABBITMQ_DEFAULT_PASS: "${RABBITMQ_DEFAULT_PASS:-secret}"
        # ports:
        #     - ${RABBITMQ_PORT_5672:-5672}:5672
        #     - ${RABBITMQ_PORT_15672:-15672}:15672
        hostname: "${DOMAIN:-rabbitmq.localhost}"
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - rabbitmq-lib:/var/lib/rabbitmq
        labels:
            # caddy: "${DOMAIN:-rabbitmq.localhost}"
            # caddy.reverse_proxy: "{{upstreams 15672}}"
            traefik.enable: "true"
            traefik.http.services.rabbitmq.loadbalancer.server.port: "15672"
            traefik.http.routers.rabbitmq.rule: "Host(`${DOMAIN:-rabbitmq.localhost}`)"
            traefik.http.routers.rabbitmq.entrypoints: "http"
            traefik.http.routers.rabbitmq.tls: "false"
            traefik.http.routers.rabbitmq.service: "rabbitmq"
            traefik.http.routers.rabbitmq-secure.rule: "Host(`${DOMAIN:-rabbitmq.localhost}`)"
            traefik.http.routers.rabbitmq-secure.entrypoints: "https"
            traefik.http.routers.rabbitmq-secure.tls: "true"
            traefik.http.routers.rabbitmq-secure.service: "rabbitmq"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    rabbitmq-lib:
        name: rabbitmq-lib
