services:
    traefik:
        container_name: traefik
        image: traefik:3
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        ports:
            - 80:80
            - 443:443
            - 5173:5173
        hostname: "${DOMAIN:-traefik.localhost}"
        networks:
            shared-network:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - shared-home:/home/${APP_USER:-app}
            - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
            - ./config/dynamic.yaml:/etc/traefik/dynamic.yaml:ro
            - ./certs:/etc/certs:ro
        labels:
            traefik.enable: "true"
            # traefik.localhost
            traefik.http.routers.traefik.rule: "Host(`${DOMAIN:-traefik.localhost}`)"
            traefik.http.routers.traefik.service: "api@internal"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
