services:
    homepage:
        container_name: homepage
        image: ghcr.io/gethomepage/homepage
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            HOMEPAGE_ALLOWED_HOSTS: "${HOMEPAGE_ALLOWED_HOSTS:-homepage.localhost}"
        # ports:
        #     - ${HOMEPAGE_PORT:-3000}:3000
        hostname: "${DOMAIN:-homepage.localhost}"
        networks:
            shared-network:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - shared-home:/home/${APP_USER:-app}
            - ./config:/app/config
        labels:
            # caddy: "${DOMAIN:-homepage.localhost}"
            # caddy.reverse_proxy: "{{upstreams 3000}}"
            traefik.enable: "true"
            traefik.http.services.homepage.loadbalancer.server.port: "3000"
            traefik.http.routers.homepage.rule: "Host(`${DOMAIN:-homepage.localhost}`)"
            traefik.http.routers.homepage.entrypoints: "http"
            traefik.http.routers.homepage.tls: "false"
            traefik.http.routers.homepage.service: "homepage"
            traefik.http.routers.homepage-secure.rule: "Host(`${DOMAIN:-homepage.localhost}`)"
            traefik.http.routers.homepage-secure.entrypoints: "https"
            traefik.http.routers.homepage-secure.tls: "true"
            traefik.http.routers.homepage-secure.service: "homepage"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
