services:
    portainer:
        container_name: portainer
        image: portainer/portainer-ce:alpine
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        # ports:
        #     - ${PORTAINER_PORT:-9000}:9000
        #     - ${PORTAINER_SSL_PORT:-9443}:9443
        hostname: "${DOMAIN:-portainer.localhost}"
        networks:
            shared-network:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - shared-home:/home/${APP_USER:-app}
            - portainer:/data
        labels:
            # caddy: "${DOMAIN:-portainer.localhost}"
            # caddy.reverse_proxy: "{{upstreams 9000}}"
            traefik.enable: "true"
            traefik.http.services.portainer.loadbalancer.server.port: "9000"
            traefik.http.routers.portainer.rule: "Host(`${DOMAIN:-portainer.localhost}`)"
            traefik.http.routers.portainer.entrypoints: "http"
            traefik.http.routers.portainer.tls: "false"
            traefik.http.routers.portainer.service: "portainer"
            traefik.http.routers.portainer-secure.rule: "Host(`${DOMAIN:-portainer.localhost}`)"
            traefik.http.routers.portainer-secure.entrypoints: "https"
            traefik.http.routers.portainer-secure.tls: "true"
            traefik.http.routers.portainer-secure.service: "portainer"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    portainer:
        name: portainer
