services:
    phpmyadmin:
        container_name: phpmyadmin
        image: phpmyadmin:fpm-alpine
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            PMA_ARBITRARY: ${PMA_ARBITRARY:-1}
        # ports:
        #     - ${PHPMYADMIN_PORT:-8080}:80
        hostname: "${DOMAIN:-phpmyadmin.localhost}"
        networks:
            main:
        labels:
            # caddy: "${DOMAIN:-phpmyadmin.localhost}"
            # caddy.reverse_proxy: "{{upstreams http}}"
            traefik.enable: "true"
            traefik.http.services.phpmyadmin.loadbalancer.server.port: "80"
            traefik.http.routers.phpmyadmin.rule: "Host(`${DOMAIN:-phpmyadmin.localhost}`)"
            traefik.http.routers.phpmyadmin.entrypoints: "http"
            traefik.http.routers.phpmyadmin.tls: "false"
            traefik.http.routers.phpmyadmin.service: "phpmyadmin"
            traefik.http.routers.phpmyadmin-secure.rule: "Host(`${DOMAIN:-phpmyadmin.localhost}`)"
            traefik.http.routers.phpmyadmin-secure.entrypoints: "https"
            traefik.http.routers.phpmyadmin-secure.tls: "true"
            traefik.http.routers.phpmyadmin-secure.service: "phpmyadmin"

networks:
    main:
        external: true
