services:
    mariadb:
        container_name: mariadb
        image: mariadb
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            MYSQL_DATABASE: "${DB_NAME:-default}"
            MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD:-secret}"
        ports:
            - ${DB_PORT:-3306}:3306
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - mariadb-data:/var/lib/mysql
            - mariadb-conf:/etc/mysql
            - ./docker/mariadb/bin/backup.sh:/bin/backup.sh:ro
            - ${BACKUP_DIR:-${HOME}/data/backups/docker/mariadb}:/backup
        # labels:
        #     ofelia.enabled: "true"
        #     ofelia.job-exec.mariadb.command: "/bin/backup.sh"
        #     ofelia.job-exec.mariadb.schedule: "${BACKUP_CRON_EXPRESSION:-0 9,15,17,21 * * *}"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    mariadb-data:
        name: mariadb-data
    mariadb-conf:
        name: mariadb-conf
