services:
    mailserver:
        container_name: mailserver
        image: mailserver/docker-mailserver
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            ENABLE_RSPAMD: "${ENABLE_RSPAMD:-1}"
            ENABLE_CLAMAV: "${ENABLE_CLAMAV:-1}"
            ENABLE_FAIL2BAN: "${ENABLE_FAIL2BAN:-1}"
        cap_add:
            - NET_ADMIN # For Fail2Ban to work
        ports:
            - "25:25"
            - "465:465"
            - "587:587"
            - "993:993"
        hostname: "${DOMAIN:-mailserver.localhost}"
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - mailserver-mail-data:/var/mail/
            - mailserver-mail-state:/var/mail-state/
            - mailserver-mail-logs:/var/log/mail/
            - mailserver-config:/tmp/docker-mailserver/

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    mailserver-mail-data:
        name: mailserver-mail-data
    mailserver-mail-state:
        name: mailserver-mail-state
    mailserver-mail-logs:
        name: mailserver-mail-logs
    mailserver-config:
        name: mailserver-config
