services:
    postgres:
        container_name: postgres
        image: postgres
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            POSTGRES_USER: "${DB_USER:-root}"
            POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
            POSTGRES_DB: "${DB_NAME:-default}"
        ports:
            - ${DB_PORT:-5432}:5432
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - postgres:/var/lib/postgresql
            - ./docker/postgres/bin/backup.sh:/bin/backup.sh:ro
            - ${BACKUP_DIR:-${HOME}/data/backups/docker/postgres}:/backup
        labels:
            ofelia.enabled: "true"
            ofelia.job-exec.postgres.command: "/bin/backup.sh"
            ofelia.job-exec.postgres.schedule: "${BACKUP_CRON_EXPRESSION:-0 9,15,17,21 * * *}"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    postgres:
        name: postgres
