services:
    percona:
        container_name: percona
        image: percona/percona-server
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            MYSQL_DATABASE: "${DB_NAME:-default}"
            MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD:-secret}"
        # ports:
        #     - ${DB_PORT:-3306}:3306
        networks:
            main:
        volumes:
            - percona-data:/var/lib/mysql
            - percona-conf:/etc/mysql
            - ./docker/percona/bin/backup.sh:/bin/backup.sh:ro
            - ${BACKUP_DIR:-${HOME}/data/backups/docker/percona}:/backup
        labels:
            # ofelia.enabled: "true"
            # ofelia.job-exec.percona.command: "/bin/backup.sh"
            # ofelia.job-exec.percona.schedule: "${BACKUP_CRON_EXPRESSION:-0 9,15,17,21 * * *}"
            # caddy: "${DOMAIN:-percona.localhost}"
            # caddy.reverse_proxy: "{{upstreams 3306}}"
            traefik.enable: "true"
            traefik.tcp.services.percona.loadbalancer.server.port: "3306"
            traefik.tcp.routers.percona.rule: "HostSNI(`${DOMAIN:-percona.localhost}`)"
            traefik.tcp.routers.percona.entrypoints: "mysql"
            traefik.tcp.routers.percona.tls: "true"
            traefik.tcp.routers.percona.service: "percona"

networks:
    main:
        external: true

volumes:
    percona-data:
        name: percona-data
    percona-conf:
        name: percona-conf
