services:
    percona5:
        container_name: percona5
        image: percona/percona-server:5.7
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            MYSQL_DATABASE: "${DB_NAME:-default}"
            MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD:-secret}"
        ports:
            - ${DB_PORT:-3306}:3306
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - percona5-data:/var/lib/mysql
            - percona5-conf:/etc/mysql
            - ./docker/percona5/bin/backup.sh:/bin/backup.sh:ro
            - ${BACKUP_DIR:-${HOME}/data/backups/docker/percona5}:/backup
        # labels:
        #     ofelia.enabled: "true"
        #     ofelia.job-exec.percona5.command: "/bin/backup.sh"
        #     ofelia.job-exec.percona5.schedule: "${BACKUP_CRON_EXPRESSION:-0 9,15,17,21 * * *}"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    percona5-data:
        name: percona5-data
    percona5-conf:
        name: percona5-conf
