services:
    bookstack:
        container_name: bookstack
        image: linuxserver/bookstack
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            APP_URL: "${APP_URL:-https://${DOMAIN:-bookstack.localhost}}"
            APP_KEY: "${APP_KEY:-secret}"
            DB_HOST: "${DB_HOST:-mariadb}"
            DB_PORT: "${DB_PORT:-3306}"
            DB_USERNAME: "${DB_USERNAME:-bookstack}"
            DB_PASSWORD: "${DB_PASSWORD:-bookstack}"
            DB_DATABASE: "${DB_DATABASE:-bookstack}"
        # ports:
        #     - ${BOOKSTACK_PORT:-80}:80
        hostname: "${DOMAIN:-bookstack.localhost}"
        networks:
            main:
        volumes:
            - bookstack:/config
        labels:
            # caddy: "${DOMAIN:-bookstack.localhost}"
            # caddy.reverse_proxy: "{{upstreams http}}"
            traefik.enable: "true"
            traefik.http.services.bookstack.loadbalancer.server.port: "80"
            traefik.http.routers.bookstack.rule: "Host(`${DOMAIN:-bookstack.localhost}`)"
            traefik.http.routers.bookstack.entrypoints: "http"
            traefik.http.routers.bookstack.tls: "false"
            traefik.http.routers.bookstack.service: "bookstack"
            traefik.http.routers.bookstack-secure.rule: "Host(`${DOMAIN:-bookstack.localhost}`)"
            traefik.http.routers.bookstack-secure.entrypoints: "https"
            traefik.http.routers.bookstack-secure.tls: "true"
            traefik.http.routers.bookstack-secure.service: "bookstack"

networks:
    main:
        external: true

volumes:
    bookstack:
        name: bookstack
