services:
    caddy:
        container_name: caddy
        image: caddy:alpine
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        ports:
            - 80:80
            - 443:443
            - 2019:2019
            - 5173:5173
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - caddy-data:/data
            - caddy-config:/config
            - caddy-certificate-authority:/data/caddy/pki/authorities/local
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - ./config:/etc/caddy/config:ro
            - ./sites:/etc/caddy/sites:ro

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    caddy-data:
        name: caddy-data
    caddy-config:
        name: caddy-config
    caddy-certificate-authority:
        name: caddy-certificate-authority
