services:
    ollama:
        container_name: ollama
        image: ollama/ollama
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        ports:
            - ${OLLAMA_PORT:-11434}:11434
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - ollama:/root/.ollama

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    ollama:
        name: ollama
