services:
    ollama:
        container_name: ollama
        image: ollama/ollama
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
        # ports:
        #     - ${OLLAMA_PORT:-11434}:11434
        networks:
            main:
        volumes:
            - ollama:/root/.ollama
        labels:
            # caddy: "${DOMAIN:-ollama.localhost}"
            # caddy.reverse_proxy: "{{upstreams 11434}}"
            traefik.enable: "true"
            traefik.tcp.services.ollama.loadbalancer.server.port: "11434"
            traefik.tcp.routers.ollama.rule: "HostSNI(`${DOMAIN:-ollama.localhost}`)"
            traefik.tcp.routers.ollama.entrypoints: "ollama"
            traefik.tcp.routers.ollama.tls: "true"
            traefik.tcp.routers.ollama.service: "ollama"

networks:
    main:
        external: true

volumes:
    ollama:
        name: ollama
