services:
    caddy-labels:
        container_name: caddy-labels
        image: lucaslorentz/caddy-docker-proxy:ci-alpine
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            CADDY_INGRESS_NETWORKS: "${CADDY_INGRESS_NETWORKS:-shared-network}"
        ports:
            - 2019:2020
            - 80:80
            - 443:443/tcp
            - 443:443/udp
            - 5173:5173
        networks:
            shared-network:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - shared-home:/home/${APP_USER:-app}
            - caddy-labels-data:/data
            - caddy-labels-config:/config
        labels:
            caddy_0.servers.trusted_proxies: "static private_ranges"
            caddy_1: ":2020"
            caddy_1.reverse_proxy: "localhost:2019"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    caddy-labels-data:
        name: caddy-labels-data
    caddy-labels-config:
        name: caddy-labels-config
