services:
    caddy-labels:
        container_name: caddy-labels
        image: lucaslorentz/caddy-docker-proxy:ci-alpine
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            CADDY_INGRESS_NETWORKS: "${CADDY_INGRESS_NETWORKS:-main}"
        ports:
            - 2019:2019
            - 80:80
            - 443:443
            - 5432:5432
            - 3306:3306
            - 6379:6379
            # - 25:25
            - 465:465
            - 587:587
            - 993:993
            - 11434:11434
            - 5173:5173
        networks:
            main:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - caddy-labels-data:/data
            - caddy-labels-config:/config
        labels:
            caddy_0.servers.trusted_proxies: "static private_ranges"
            caddy_1: ":2020"
            caddy_1.reverse_proxy: "localhost:2019"

networks:
    main:
        external: true

volumes:
    caddy-labels-data:
        name: caddy-labels-data
    caddy-labels-config:
        name: caddy-labels-config
