services:
    cron:
        container_name: cron
        image: mcuadros/ofelia
        command: daemon --docker
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TIMEZONE: "${TIMEZONE:-Europe/Warsaw}"
        networks:
            shared-network:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - shared-home:/home/${APP_USER:-app}

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
