services:
    pgvector:
        container_name: pgvector
        image: pgvector/pgvector
        restart: unless-stopped
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            POSTGRES_USER: "${DB_USER:-root}"
            POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
            POSTGRES_DB: "${DB_NAME:-default}"
        # ports:
        #     - ${DB_PORT:-5432}:5432
        networks:
            main:
        volumes:
            - pgvector:/var/lib/postgresql/data
            - ./docker/pgvector/bin/backup.sh:/bin/backup.sh:ro
            - ${BACKUP_DIR:-${HOME}/data/backups/docker/pgvector}:/backup
        labels:
            ofelia.enabled: "true"
            ofelia.job-exec.pgvector.command: "/bin/backup.sh"
            ofelia.job-exec.pgvector.schedule: "${BACKUP_CRON_EXPRESSION:-0 9,15,17,21 * * *}"
            # caddy: "${DOMAIN:-pgvector.localhost}"
            # caddy.reverse_proxy: "{{upstreams 5432}}"
            traefik.enable: "true"
            traefik.tcp.services.pgvector.loadbalancer.server.port: "5432"
            traefik.tcp.routers.pgvector.rule: "HostSNI(`${DOMAIN:-pgvector.localhost}`)"
            traefik.tcp.routers.pgvector.entrypoints: "postgres"
            traefik.tcp.routers.pgvector.tls: "true"
            traefik.tcp.routers.pgvector.service: "pgvector"

networks:
    main:
        external: true

volumes:
    pgvector:
        name: pgvector
