services:
    pgvector:
        container_name: pgvector
        image: pgvector/pgvector
        restart: unless-stopped
        depends_on:
            postgres:
                condition: service_started
        # user: "${UID:-1000}:${GID:-1000}"
        environment:
            TZ: "${TIMEZONE:-Europe/Warsaw}"
            POSTGRES_USER: "${DB_USER:-root}"
            POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
            POSTGRES_DB: "${DB_NAME:-default}"
        ports:
            - ${DB_PORT:-5432}:5432
        networks:
            shared-network:
        volumes:
            - shared-home:/home/${APP_USER:-app}
            - pgvector:/var/lib/postgresql/data
            - ./docker/pgvector/bin/backup.sh:/bin/backup.sh:ro
            - ${BACKUP_DIR:-${HOME}/data/backups/docker/pgvector}:/backup
        labels:
            ofelia.enabled: "true"
            ofelia.job-exec.pgvector.command: "/bin/backup.sh"
            ofelia.job-exec.pgvector.schedule: "${BACKUP_CRON_EXPRESSION:-0 9,15,17,21 * * *}"

networks:
    shared-network:
        name: ${SHARED_NETWORK_NAME:-shared-network}
        external: true

volumes:
    shared-home:
        name: ${SHARED_HOME_VOLUME:-shared-home}
        external: true
    pgvector:
        name: pgvector
